#fullpage{
    margin-top: 13%;
}

#new-peeps{
    display: none;
}

/* form page */
#startPage
.background-image {
    background-image: url("img/get-started.jpg");
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* buttons on start of form page */
.intro-form .btn {
    text-transform: none;
/*  padding: 5px;*/
    font-size: 20px;
    font-weight: 200;
    background: #009ba5;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    margin: 60px 20px 0 20px;
    cursor: pointer;
    min-width: 190px;
    text-align: center;
}

.intro-form .btn:hover {
    background: #005f69;
}

.intro-form h2 {
    font-size: 70px;
    color: white;
}

.intro-form p {
    font-size: 18px;
    font-family: "innogyWebLight", "innogyWebMedium";
    color: #000;
    margin: 30px 5%;
    padding: 0 20%;
}

.mySlides a, .full a {
    text-transform: none;
    font-family: "innogyWebLight", "innogyWebMedium";
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0 40px 0;
    font-size: 20px;
    font-weight: 200;
    background: #009ba5;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    margin-top: 60px;
    cursor: pointer;
    min-width: 210px;
}

.mySlides .btn:hover {
    background: #005f69 !important;
    color: white;
}

.green .submit-green a:hover {
    background: #00875A !important;
}

#modal1 a {
    min-width: 150px;
    margin: 40px 10px 5px 10px;
}

.modal {
    border-radius: 50px;
}
.nitty-gritty {
    padding: 0 0 0 65%;
}

.nitty {
    padding: 0 0 0 54.5%;
}

.contact-deets {
    padding: 0 0 0 73%;
}

.form-text {
    font-family: "innogyWebLight", "innogyWebMedium";
    padding: 10px 55px;
    font-size: 18px;
}

.padding-fix {
    margin: 120px 0 0 0 !important;
}






